* {
  box-sizing: border-box;
  padding: 0;
  border-style: none;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  text-decoration: inherit;
  list-style: none;
}

html,
body {
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
}
